body {
    background-color: #333333;
    background-image: url("../res/bkgrd.png");
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
}

.fontStyle {
    font-family: segoe Script;
    font-size: 40px;
    line-height: 8em;
    text-align: center;
    color: #fff;
}

#view {
    -webkit-perspective: 1600;
    -webkit-perspective-origin: 50% 800px;
    -moz-perspective: 1600;
    -moz-perspective-origin: 50% 800px;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
        /*background-color: rgba(193, 186, 246, 0.5);*/
}

.perspective {
    -webkit-transition: -webkit-perspective 1s linear;
    -moz-transition: -moz-perspective 1s linear;
    -webkit-transition-property: all;
}

#house {
    position: relative;
    margin: 100px auto 0;
    height: 1200px;
    width: 1200px;
    -webkit-transition: -webkit-transform 2s linear;
    -webkit-transform-style: preserve-3d;
    -moz-transition: -moz-transform 2s linear;
    -moz-transform-style: preserve-3d;
    /*background-color: rgba(255, 0, 246, 0.5);*/
}

.wall {
    position: absolute;
    /*padding: 0px;
    margin: 0px 0px 0;*/
    background-color: rgba(50, 50, 50, 0.7);
    font-size: 27px;
    line-height: 1em;
    color: #000;
    border: 1px solid #555;
    border-radius: 3px;
}

#top {
    background-color: rgba(50, 50, 50, 0.7);
    height: 760px;
    width: 860px;
    -webkit-transform: rotateX(90deg) translateY(-100px) translateZ(400px);
    -moz-transform: rotateX(90deg) translateY(-100px) translateZ(400px);
}

#front {
    background-color: rgba(0, 50, 50, 0);
    background-image: url("../res/fence.png");
    background-repeat: repeat-x;
    height: 127px;
    width: 460px;
    border: 0px solid #555;
    -webkit-transform: translateX(400px) translateY(305px) translateZ(550px);
    -moz-transform: translateX(400px) translateY(305px) translateZ(550px);
}

#right {
    background-color: rgba(230, 218, 206, 1);
    height: 360px;
    width: 1260px;
    -webkit-transform: rotateY(90deg) translateX(100px) translateZ(650px);
    -moz-transform: rotateY(90deg) translateX(100px) translateZ(650px);
}

#back {
    background-color: rgba(230, 218, 206, 1);
    height: 360px;
    width: 1260px;
    -webkit-transform: rotateY(180deg) translateZ(750px);
    -moz-transform: rotateY(180deg) translateZ(750px);
}

#left {
    background-color: rgba(230, 218, 206, 1);
    height: 360px;
    width: 360px;
    -webkit-transform: rotateY(-90deg) translateX(-550px) translateZ(200px);
    -moz-transform: rotateY(-90deg) translateX(-550px) translateZ(200px);
}

#ground {
	height: 1200px;
    width: 1200px;
    background-image: url("../res/unit.png");
    -webkit-transform: rotateX(90deg);
    -moz-transform: rotateX(90deg);
}
